<div class="well">
    <small class="text-left text-muted">
            <%= time_ago_in_words(post.updated_at) %> ago
    </small>
    <div class="post">
        <%= h sanitize(simple_format(post.content), :tags => %w(br p)) %>
    </div>
</div>
