<div class="panel">
    <div class="post">
        <%= auto_link(post.content, html: { :target => '_blank' }) %>
    </div>
    <p class="text-right text-muted">
        <small>
            <%= time_ago_in_words(post.updated_at) %> ago
        </small>
    </p>
</div>
