<div class="well">
    <div class="media">

        <!-- Mood -->
        <span class="pull-left">
            <i class="<%= get_mood(post.mood_id) %> icon mood" %></i>
        </span>

        <!-- Time -->
        <small class="text-left text-muted pull-left">
            <%= time_ago_in_words(post.created_at) %> ago
        </small>

        <!-- Admin sticker -->
        <% if ! post.user.nil? && post.user.admin == true %>
            <span class="pull-left stamp">mytwocents.io</span>
        <% end %>

        <!-- Comments -->
        <span class="pull-right">
            <i class="fa fa-comment-o icon"></i>
        </span>
        <div class="clearfix"></div>

        <!-- Post -->
        <div class="media-body">
            <%= auto_link(simple_format(h post.content), html: {rel: "nofollow"} ) %>
        </div>

        <% if user_signed_in? && current_user.admin == true %>
            <%= link_to "Delete ##{post.id}", post, method: :delete, data: { confirm: "Del?" } %>
        <% end %>
    </div>
</div>
