<h4 class="caps text-center">
    Engage with others by giving your two cents.
    <br>
    <br>
    <a href="https://www.facebook.com/pages/mytwocentsio/251021331737236" target="_blank">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/mytwocentsio" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://plus.google.com/105622011272327226077" rel="publisher" target="_blank">
        <i class="fa fa-google-plus"></i>
    </a>
</h4>
