<div class="well">
    <small class="text-left text-muted">
            <%= time_ago_in_words(post.updated_at) %> ago
    </small>
    <div class="post">
        <%= auto_link(simple_format(h post.content)) %>
    </div>
</div>
