<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center text-muted" id="welcomeModalLabel">Give your two cents</h4>
      </div>
      <div class="modal-body">
        <p>Sometimes, you just want to get rid of your thoughts or share something with anyone. You don’t care to whom or where. You don’t want to think about who is following you. You don’t care about if people like it or not. You don’t want to be commented or judged. On mytwocents.io you can just give your two cents. Anything (unless it’s not against the terms of service), anytime, anywhere. You don’t have to think about who is following you or who do you have in your friends list.</p>

        <p>The world is your audience and they might ignore your two cents completely (it’s just your two cents, remember?) or, and that might be motivating: You inspire someone, somewhere in this world and you contributed something valuable. Keep this in mind when you’re giving your two cents!</p>

        <p>Basically, it’s like a single, central Twitter account for the whole world! Let’s get crazy and have some fun!</p>

        <br>
        <button type="button" class="center-block btn btn-default" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
  </div>
</div>
