<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center text-muted" id="welcomeModalLabel">Give your two cents</h4>
      </div>
      <div class="modal-body text-center">
        <p>Engage with others by giving your two cents.</p>
        <p>Check out how your two cents increase in value.</p>

        <br>
        <button type="button" class="center-block btn btn-default" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
  </div>
</div>
