<div class="container">
    <div class="row">
        <div class="col-md-12">
            <%= render 'post_header' %>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 posts">
                    <%= render @post %>
                </div>
                <div class="col-md-6 col-md-offset-3 posts">
                    <small class="white">Comments</small>
                    <div class="well">
                        <div class="comments">
                            <%= render @comments %>
                        </div>
                        <%= render partial: 'form', locals: {post: @comment} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
