<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="caps text-center">
                give your two cents. anyone. anything. anytime. anywhere.
                <br>
                <br>
                <a href="https://www.facebook.com/pages/mytwocentsio/251021331737236" target="_blank">
                     <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/mytwocentsio" target="_blank">
                     <i class="fa fa-twitter"></i>
                </a>
                <a href="https://plus.google.com/105622011272327226077" rel="publisher" target="_blank">
                     <i class="fa fa-google-plus"></i>
                </a>
            </h4>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 posts">
                    <%= render @post %>
                </div>
                <div class="col-md-6 col-md-offset-3 posts">
                    <div class="well">
                        <div class="comments">
                            <%= render @comments %>
                        </div>
                        <%= render partial: 'form', locals: {post: @comment} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
