/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
j* listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$grid-float-breakpoint: 1000px;
@import "bootstrap";
$link-color: blue;

body {
  background-color: #805fc3;
}
.navbar {
  background-color: #4a2b88;
  border-color: #4a2b88;
}
.btn-default {
  background-color: #927ac3;
  border-color: #927ac3;
  color: white;
  &:hover, &:active, &:focus {
    color: white;
    background-color: #7e5dbf;
    border-color: #7e5dbf;
  }
}

textarea {
  width: 558px;
  height: 213px;
  padding: 0px;
  resize: none;
  margin-bottom: 5px;
}

.caps {
  font-size: 18px;
  margin: 15px 0px 15px 0px;
  color: white;
  a {
    color: white;
  }
}

.footer {
  @extend .caps;
  font-size: 14px;
}

.glyphicon {
  span {
  }
}


li a {
  padding: 10px !important;
}

.navbar-header {
  img {
    margin-top: 4px;
    height: 45px;
    width: 250px;
  }
}

.panel {
  padding: 5px;
}

.panel-counter {
  padding: 18px;
}

.sign-in {
  width: 500px;
  padding: 30px;
  margin-top: 50px;
}

.well {
  margin-bottom: 10px;
  background-color: white;
}
