/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
j* listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$grid-float-breakpoint: 1000px;
@import "bootstrap";

textarea {
  resize: none;
  margin-bottom: 5px;
}

.navbar-header {
  img {
    height: 45px;
    width: 250px;
  }
}

.captions {
  margin-bottom: 40px;
  margin-top: 100px;
  font-size: 20px;
}

.panel {
  padding: 5px;
}

.panel-counter {
  padding: 15px;
}
