/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
j* listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$grid-float-breakpoint: 1000px;
@import "bootstrap";
$link-color: blue;
$body: #805fc3;
$navbar: #4a2b88;
$button: #927ac3;
$button-hover: #7e5dbf;

body {
  background-color: $body;
  margin-top: 62px;
}

textarea {
  width: 558px;
  height: 129px;
  padding: 0px;
  resize: none;
  margin-bottom: 20px;
}

i {
  cursor: pointer;
  cursor: hand;
}

.btn-default {
  background-color: $button;
  border-color: $button;
  color: white;
  &:hover, &:active, &:focus {
    color: white;
    background-color: $button-hover;
    border-color: $button-hover;
  }
}

.caps {
  font-size: 18px;
  font-weight: 300;
  margin: 15px 0px 15px 0px;
  color: white;
  a {
    color: white;
  }

  .fa {
    padding-left: 10px;
  }
}

.footer {
  @extend .caps;
  font-size: 12px;
}

.highlight {
  color: $navbar !important;
}

.icon {
  font-size: 18px;
  color: $button;
}

.media-body {
  margin-top: 4px;
}

.mood-row {
  margin-right: 20px;
}
.mood {
  @extend .icon;
  cursor: default;
}

.mood-lg {
  margin-right: 5px;
  font-size: 23px;
  color: $gray-light;
}

.navbar {
  background-color: $navbar;
  border-color: $navbar;
  li a {
    padding: 10px !important;
  }
}

.navbar-header {
  img {
    margin-top: 4px;
    height: 45px;
    width: 250px;
  }
  .item {
    margin: 8px 10px 0px 10px;
  }
}

.panel-counter {
  padding: 18px;
}

.sign-in {
  width: 500px;
  padding: 30px;
  margin-top: 50px;
}

.well {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}
